@import "../../../assets/css/variable/color";
@import "../../../assets/css/variable/font";
@import "../../../assets/css/variable/basic-class";

.radio-group {
  float: right;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  .progress {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    p {
      color: $grey-9;
      font-size: $h4-font-size;
      margin-bottom: 20px;
    }
  }
  .teammate {
    width: 100%;
  }
}

