<app-page-header [title]="'自评汇总'"></app-page-header>

<section class="content-area">
  <header nz-row>
    <nz-month-picker [(ngModel)]="date" (ngModelChange)="getStatus($event)" nzPlaceHolder="请选择月份"></nz-month-picker>

    <nz-radio-group [(ngModel)]="status" class="mr-md radio-group" (ngModelChange)="statusFilter()">
      <label nz-radio-button [nzValue]="'all'">
        <span>全部</span>
      </label>
      <label nz-radio-button [nzValue]="'unfinished'">
        <span>未完成</span>
      </label>
    </nz-radio-group>
  </header>

  <div class="container">
    <div class="progress">
      <p>当月团队自评进度</p>
      <nz-progress [nzPercent]="progress" [nzWidth]="200" nzType="circle"></nz-progress>
    </div>

    <div class="table-area">
      <nz-table #selfSummaryTable
                [nzData]="displayData">
        <thead>
        <tr>
          <th>姓名</th>
          <th>工号</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of selfSummaryTable.data">
          <td>{{data.realName}}</td>
          <td>{{data.workNumber}}</td>
          <td>
            <ng-container *ngIf="data.status">
              <nz-badge nzStatus="success" nzText="已填写"></nz-badge>
            </ng-container>
            <ng-container *ngIf="!data.status">
              <nz-badge nzStatus="error" nzText="未填写"></nz-badge>
            </ng-container>
          </td>
          <td>
            <a [ngClass]="{'link-disabled': !data.status}" (click)="goToDetail(data.workNumber)">查看</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

</section>

<nz-modal [(nzVisible)]="modalService.isVisible" nzWidth="900" nzMaskClosable="false" nzTitle="自评" [nzCancelText]="null"(nzOnOk)="modalService.close()" (nzOnCancel)="modalService.close()">
  <form nz-form role="form">
    <!--业绩-->
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="achievement">业绩</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        {{achievement}}
      </nz-form-control>
    </nz-form-item>

    <!--共享,主动性-->
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="share">共享和主动性</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        {{share}}
      </nz-form-control>
    </nz-form-item>

    <!--团队贡献-->
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="contribution">团队贡献</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        {{contribution}}
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
