<app-page-header [title]="'互评汇总'"></app-page-header>

<section class="summary">
  <header nz-row>
    <nz-month-picker [(ngModel)]="date" (ngModelChange)="getStatus($event)" nzPlaceHolder="请选择月份"></nz-month-picker>
    <nz-radio-group [(ngModel)]="status" class="mr-md radio-group" (ngModelChange)="statusFilter()">
      <label nz-radio-button [nzValue]="'achievement'">
        <span>业绩</span>
      </label>
      <label nz-radio-button [nzValue]="'share'">
        <span>共享和主动性</span>
      </label>
      <label nz-radio-button [nzValue]="'contribution'">
        <span>团队贡献</span>
      </label>
    </nz-radio-group>
  </header>

  <div class="container">
    <div class="progress">
      <p>当月团队互评进度</p>
      <nz-progress [nzPercent]="progress" [nzWidth]="200" nzType="circle"></nz-progress>
    </div>

    <div nz-row nzGutter="16" class="card-area">
      <div nz-col nzXs="24" nzSm="12" nzMd="6" class="top-card">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-yellow rounded-md">
          <div nz-col nzSpan="12" class="p-md text-white">
            <p class="text-nowrap">Top 1</p>
            <div>123,456</div>
            <div>123,456</div>
            <div>123,456</div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" class="top-card">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-silver rounded-md">
          <div nz-col nzSpan="12" class="p-md text-white">
            <p class="text-nowrap">Top 2</p>
            <div>123,456</div>
            <div>123,456</div>
            <div>123,456</div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" class="top-card">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-gold rounded-md">
          <div nz-col nzSpan="12" class="p-md text-white">
            <p class="text-nowrap">Top 3</p>
            <div>123,456</div>
            <div>123,456</div>
            <div>123,456</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-area">
    <nz-table #selfSummaryTable
              [nzData]="displayData">
      <thead>
      <tr>
        <th>姓名</th>
        <th>工号</th>
        <th>分数</th>
        <th>互评完成状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of selfSummaryTable.data">
        <td>{{data.realName}}</td>
        <td>{{data.workNumber}}</td>
        <td>
          {{data.score}}
        </td>
        <td>
          <ng-container *ngIf="data.status">
            <nz-badge nzStatus="success" nzText="已填写"></nz-badge>
          </ng-container>
          <ng-container *ngIf="!data.status">
            <nz-badge nzStatus="error" nzText="未填写"></nz-badge>
          </ng-container>
        </td>
        <td>
          <a [ngClass]="{'link-disabled': !data.status}" (click)="goToDetail(data.workNumber)">查看</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</section>
