<app-page-header [title]="'互评汇总'"></app-page-header>

<section class="summary">
  <header nz-row>
    <nz-month-picker [(ngModel)]="date" (ngModelChange)="getStatus($event)" nzPlaceHolder="请选择月份"></nz-month-picker>
    <nz-radio-group [(ngModel)]="status" class="mr-md radio-group" (ngModelChange)="statusFilter()">
      <label nz-radio-button [nzValue]="'all'">
        <span>全部</span>
      </label>
      <label nz-radio-button [nzValue]="'achievement'">
        <span>业绩</span>
      </label>
      <label nz-radio-button [nzValue]="'share'">
        <span>共享和主动性</span>
      </label>
      <label nz-radio-button [nzValue]="'contribution'">
        <span>团队贡献</span>
      </label>
    </nz-radio-group>
  </header>

  <div class="container">
    <div class="progress">
      <p>当月团队互评进度</p>
      <nz-progress [nzPercent]="progress" [nzWidth]="200" nzType="circle"></nz-progress>
    </div>

    <div nz-row nzGutter="16" class="card-area">
      <div nz-col nzXs="24" nzSm="12" nzMd="6" class="top-card">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-yellow rounded-md">
          <div nz-col nzSpan="12" class="p-md text-white">
            <p class="text-nowrap">Top 1</p>
            <div>{{tops[0].realName}}</div>
            <div>{{tops[0].workNumber}}</div>
            <div>{{tops[0].score}}</div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" class="top-card">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-silver rounded-md">
          <div nz-col nzSpan="12" class="p-md text-white">
            <p class="text-nowrap">Top 2</p>
            <div>{{tops[1].realName}}</div>
            <div>{{tops[1].workNumber}}</div>
            <div>{{tops[1].score}}</div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="6" class="top-card">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-gold rounded-md">
          <div nz-col nzSpan="12" class="p-md text-white">
            <p class="text-nowrap">Top 3</p>
            <div>{{tops[2].realName}}</div>
            <div>{{tops[2].workNumber}}</div>
            <div>{{tops[2].score}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-area">
    <nz-table #selfSummaryTable
              [nzData]="displayData">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th>姓名</th>
        <th>工号</th>
        <th nzShowSort nzSortKey="score">分数</th>
        <th>互评完成状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of selfSummaryTable.data">
        <td>{{data.realName}}</td>
        <td>{{data.workNumber}}</td>
        <td>
          {{data.score}}
        </td>
        <td>
          <ng-container *ngIf="data.status">
            <nz-badge nzStatus="success" nzText="已完成"></nz-badge>
          </ng-container>
          <ng-container *ngIf="!data.status">
            <nz-badge nzStatus="error" nzText="未完成"></nz-badge>
          </ng-container>
        </td>
        <td>
          <a (click)="goToDetail(data.workNumber)">查看对他/她的互评</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</section>


<nz-modal [(nzVisible)]="modalService.isVisible" nzWidth="900" nzMaskClosable="false" nzTitle="互评" [nzCancelText]="null"(nzOnOk)="modalService.close()" (nzOnCancel)="modalService.close()">
  <nz-list
    [nzDataSource]="details"
    [nzItemLayout]="'vertical'"
    [nzRenderItem]="item">
    <ng-template #item let-item>
      <ng-container *ngIf="item.achievementRate">
        <nz-list-item [nzContent]="nzContent" [nzExtra]="extra">
          <nz-list-item-meta
            [nzTitle]="item.ownerRealName"
            [nzDescription]="nzDescription">
            <ng-template #nzDescription>
              <nz-rate [(ngModel)]="item.achievementRate" [nzCount]="10" nzDisabled></nz-rate>
            </ng-template>
            <ng-template #nzContent>
              {{item.mutualAchievement}}
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <p class="attr-block bg-grey-5">业绩</p>
          </ng-template>
        </nz-list-item>
      </ng-container>
      <ng-container *ngIf="item.shareRate">
        <nz-list-item [nzContent]="nzContent" [nzExtra]="extra">
          <nz-list-item-meta
            [nzTitle]="item.ownerRealName"
            [nzDescription]="nzDescription">
            <ng-template #nzDescription>
              <nz-rate [(ngModel)]="item.shareRate" [nzCount]="10" nzDisabled></nz-rate>
            </ng-template>
            <ng-template #nzContent>
              {{item.mutualShare}}
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <p class="attr-block bg-grey-6">共享和主动性</p>
          </ng-template>
        </nz-list-item>
      </ng-container>
      <ng-container *ngIf="item.contributionRate">
        <nz-list-item [nzContent]="nzContent" [nzExtra]="extra">
          <nz-list-item-meta
            [nzTitle]="item.ownerRealName"
            [nzDescription]="nzDescription">
            <ng-template #nzDescription>
              <nz-rate [(ngModel)]="item.contributionRate" [nzCount]="10" nzDisabled></nz-rate>
            </ng-template>
            <ng-template #nzContent>
              {{item.mutualContribution}}
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <p class="attr-block bg-grey-7">团队贡献</p>
          </ng-template>
        </nz-list-item>
      </ng-container>
    </ng-template>
  </nz-list>
</nz-modal>
