@import "../../../../assets/css/variable/basic-class";
@import "../../../../assets/css/variable/font";
@import "../../../../assets/css/variable/color";

.container {
  margin: 0 24px 24px;
}

.card-area {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .top-card {
    width: 150px;
  }
}

.attr-block {
  width: 172px;
  height: 172px;
  line-height: 172px;
  text-align: center;
  font-size: $h2-font-size;
  color: $white;
  margin: 0;
}

