<nz-sider class="sider" [nzWidth]="200">
  <ul nz-menu [nzMode]="'inline'" style="height:100%">
    <li class="sidebar-info">
      <nz-avatar class="avatar" nzIcon="anticon anticon-user"></nz-avatar>
      <div class="info">
        <strong>{{authService.currentUser.realName}}</strong>
        <p class="text-truncate">{{authService.currentUser.group}}</p>
      </div>
    </li>
    <li nz-menu-item routerLink="/selfevaluation" routerLinkActive="ant-menu-item-selected">
      <span title><i class="anticon anticon-user"></i>自评</span>
    </li>
    <li nz-menu-item routerLink="/mutualevaluation" routerLinkActive="ant-menu-item-selected">
      <span title><i class="anticon anticon-sync"></i>互评</span>
    </li>
    <li nz-menu-item>
      <span title><i class="anticon anticon-usergroup-delete"></i>人员管理</span>
    </li>
    <li nz-menu-item>
      <span title><i class="anticon anticon-form"></i>自评汇总</span>
    </li>
    <li nz-menu-item>
      <span title><i class="anticon anticon-api"></i>互评汇总</span>
    </li>
  </ul>
</nz-sider>

