@import "color";

.text-white {
  color: $white;
}

.text-center {
  text-align: center;
}

.rounded-md {
  border-radius: 4px !important;
}

.p-md {
  padding: 16px !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.bg-primary {
  background-color: $blue-6 !important;
}

.bg-success {
  background-color: $green-6 !important;
}

.bg-gold {
  background-color: $gold-6 !important;
}

.bg-yellow {
  background-color: $yellow-6 !important;
}

.bg-silver {
  background-color: $grey-6 !important;
}

.bg-grey-5 {
  background-color: $grey-5 !important;
}

.bg-grey-6 {
  background-color: $grey-6 !important;
}

.bg-grey-7 {
  background-color: $grey-7 !important;
}

.content-area {
  margin: 0 24px 24px;
}
