<app-page-header [title]="'汇总'"></app-page-header>

<div class="content-area">
  <header nz-row>
    <nz-month-picker [(ngModel)]="date" (ngModelChange)="getStatus($event)" nzPlaceHolder="选择月份"></nz-month-picker>

    <nz-radio-group [(ngModel)]="status" class="mr-md radio-group" (ngModelChange)="statusFilter()">
      <label nz-radio-button [nzValue]="'achievement'">
        <span>业绩</span>
      </label>
      <label nz-radio-button [nzValue]="'share'">
        <span>共享和主动性</span>
      </label>
      <label nz-radio-button [nzValue]="'contribution'">
        <span>团队贡献</span>
      </label>
    </nz-radio-group>
  </header>

  <p *ngIf="details.length == 0; else list" class="no-data">暂无数据</p>
  <ng-template #list>
    <nz-list
      [nzDataSource]="details"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
          <nz-list-item-meta>
            <ng-template #nzContent>
              {{item}}
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </ng-template>
</div>
