<app-page-header [title]="'修改密码'">
  <nz-breadcrumb class="breadcrumb">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">首页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      修改密码
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</app-page-header>

<div class="container">
  <form nz-form class="form" [formGroup]="form" (ngSubmit)="submit()" role="form">
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>

    <!--原密码-->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzSize="large" nzAddonBeforeIcon="anticon anticon-lock">
          <input nz-input type="password" formControlName="oldPassword" placeholder="原密码">
        </nz-input-group>
        <ng-container *ngIf="oldPassword.dirty && oldPassword.errors">
          <nz-form-explain *ngIf="oldPassword.errors.required">请原密码！</nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <!--新密码-->
    <nz-form-item>
      <nz-form-control>
        <nz-popover [nzPlacement]="'right'" [nzTrigger]="'focus'" [(nzVisible)]="visible" nzOverlayClassName="register-password-cdk"
                    [nzOverlayStyle]="{'width.px': 240}">
          <nz-input-group nzSize="large" nz-popover nzAddonBeforeIcon="anticon anticon-lock">
            <input nz-input type="password" (blur)="visible = false" formControlName="password" placeholder="至少6位新密码，区分大小写">
          </nz-input-group>
          <nz-form-explain *ngIf="password.dirty && password.errors">请输入新密码！</nz-form-explain>
          <ng-template #nzTemplate>
            <div style="padding: 4px 0;">
              <ng-container [ngSwitch]="status">
                <div *ngSwitchCase="'ok'" class="success">强度：强</div>
                <div *ngSwitchCase="'pass'" class="warning">强度：中</div>
                <div *ngSwitchDefault class="error">强度：太短</div>
              </ng-container>
              <div class="progress-{{status}}">
                <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6" [nzShowInfo]="false"></nz-progress>
              </div>
              <p class="mt-sm">请至少输入 6 个字符。请不要使用容易被猜到的密码。</p>
            </div>
          </ng-template>
        </nz-popover>
      </nz-form-control>
    </nz-form-item>

    <!--确认新密码-->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzSize="large" nzAddonBeforeIcon="anticon anticon-lock">
          <input nz-input type="password" formControlName="confirm" placeholder="确认密码">
        </nz-input-group>
        <ng-container *ngIf="confirm.dirty && confirm.errors">
          <nz-form-explain *ngIf="confirm.errors.required">请确认密码！</nz-form-explain>
          <nz-form-explain *ngIf="confirm.errors.equar">两次输入的密码不匹配！</nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <!--按钮-->
    <nz-form-item>
      <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loadingService.loading" class="submit">
        <span>修改</span>
      </button>

      <button nz-button nzType="default" nzSize="large" type="submit" class="submit" routerLink="/">
        <span>返回</span>
      </button>
    </nz-form-item>
  </form>
</div>
