@import "../../../../styles";

:host {
  display: block;
  width: 368px;
  margin: 0 auto;
  .ant-btn__block {
    width: 100%;
  }
}

h3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.login {
  float: right;
  line-height: 40px;
}

